<body>
    <h1>Home page</h1>
    <h2>Choose CSV file to convert</h2>
    <form action="/api/upload" enctype="multipart/form-data" method="post">
      <div>File: <input type="file" name="someExpressFiles" required /></div>
      <input type="submit" value="Upload" />
    </form>
</body>