<body>
    
    <div class="loadingio-spinner-bars-nznq3rttv9d">
        <div class="ldio-4oss2nxu4xg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <style type="text/css">
        @keyframes ldio-4oss2nxu4xg {
            0% {
                opacity: 1
            }
    
            50% {
                opacity: .5
            }
    
            100% {
                opacity: 1
            }
        }
    
        .ldio-4oss2nxu4xg div {
            position: absolute;
            width: 20px;
            height: 80px;
            top: 60px;
            animation: ldio-4oss2nxu4xg 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }
    
        .ldio-4oss2nxu4xg div:nth-child(1) {
            transform: translate(30px, 0);
            background: #e15b64;
            animation-delay: -0.6s;
        }
    
        .ldio-4oss2nxu4xg div:nth-child(2) {
            transform: translate(70px, 0);
            background: #f47e60;
            animation-delay: -0.4s;
        }
    
        .ldio-4oss2nxu4xg div:nth-child(3) {
            transform: translate(110px, 0);
            background: #f8b26a;
            animation-delay: -0.2s;
        }
    
        .ldio-4oss2nxu4xg div:nth-child(4) {
            transform: translate(150px, 0);
            background: #abbd81;
            animation-delay: -1s;
        }
    
        .loadingio-spinner-bars-nznq3rttv9d {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: #ffffff;
        }
    
        .ldio-4oss2nxu4xg {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
            /* see note above */
        }
    
        .ldio-4oss2nxu4xg div {
            box-sizing: content-box;
        }
    
        /* generated by https://loading.io/ */
    </style>
</body>